div.logotype(
  style="background-color: #0e5d9d; text-align: center; padding: 10px 0;"
)
  img(
    src="https://equisoftfleetdev.blob.core.windows.net/equisoft-app-bucket/logoLogin.png?sp=r&st=2025-01-23T17:54:04Z&se=2025-09-24T01:54:04Z&spr=https&sv=2022-11-02&sr=b&sig=Gzpm93JhWfNvAaUm4NgpbizdGhBZ5m5BnXjyCGjTKj4%3D"
    alt="Equirent Logo"
    style="width: 200px; height: auto;"
  )

