extends ../includes/default.pug

block content
  h2(style="font-size: 20px; margin-bottom: 15px; color: white;")
    | Valida tu dirección de correo electrónico
  p(style="margin-bottom: 20px; color: white; font-size: 14px;")
    | Para confirmar tu dirección de correo electrónico en Equirent Mobility, haz clic en el botón a continuación.
  a(
    href=url target='_blank'
    style="background-color: #2ea8e0; color: white; padding: 10px 20px; border-radius: 5px; font-size: 14px; text-decoration: none; display: inline-block;"
  ) Confirmar correo
