extends ../includes/default.pug

block content
  h2(style="font-size: 20px; margin-bottom: 15px; color: white;")
    | Recupera tu contraseña
  p(style="margin-bottom: 20px; color: white; font-size: 14px;")
    | Hemos recibido una solicitud para restablecer tu contraseña. Si no fuiste tú, ignora este mensaje.
  p(style="margin-bottom: 20px; color: white; font-size: 14px;")
    | Para restablecer tu contraseña en Equirent Mobility, haz clic en el botón a continuación:
  a(
    href=url target='_blank'
    style="background-color: #2ea8e0; color: white; padding: 10px 20px; border-radius: 5px; font-size: 14px; text-decoration: none; display: inline-block;"
  ) Restablecer contraseña
  p(style="margin-top: 20px; color: white; font-size: 14px;")
    | Si tienes problemas con el botón, copia y pega la siguiente URL en tu navegador:
  p(style="word-wrap: break-word; color: #cfe9f3; font-size: 12px;")  
    | https://back-app-equisoft-production.up.railway.app/api/sign/v1/auth/reset-password?token=#{tokens}
    